.row {
  color: #fff;
  margin-left: 20px;
}

.row h2 {
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.row-poster:hover {
  transform: scale(1.08);
}

.row-posterLarge {
  max-height: 250px;
}
