/* Header container */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.4s ease;
}

/* When scrolling down */
.header-black {
  background-color: #111;
}

/* LEFT SECTION */
.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Netflix Logo */
.header-logo {
  width: 100px;
  cursor: pointer;
}

/* Navigation Menu */
.header-nav {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-nav li {
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.header-nav li:hover {
  color: #b3b3b3;
}

/* RIGHT SECTION */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.2s;
}

.header-icon:hover {
  color: #b3b3b3;
}

/* Avatar */
.header-avatar {
  width: 35px;
  border-radius: 5px;
  cursor: pointer;
}
