.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-description {
  width: 45rem;
  max-width: 360px;
  height: 80px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  padding-top: 1rem;
}

.banner-buttons {
  display: flex;
  gap: 1rem;
}

.banner-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s;
}

.banner-button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.banner-fade-bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(17, 17, 17, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}
